* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(326deg, #5c4545, #537a6d, #5c4545);
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
}

p.rotate {
  transform: rotate(336deg);
}

.navbar {
  padding: 0rem 4rem 0rem 4rem;
  flex-wrap: unset;
}

.logo {
  display: flex;
  font-size: 45px;
  font-family: ui-monospace;
}

ul {
  margin: 0;
}

ul li {
  display: inline-block;
  padding-left: 7rem;
}

ul li a {
  list-style-type: none !important;
  text-decoration: none;
  color: white !important;
}

.header {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
}

.footer {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.segment {
  margin-bottom: 30px;
}

.segment-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-segment {
  margin-bottom: 15px;
}

.sub-segment-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sub-segment-content {
  display: none;
}

.read-more {
  cursor: pointer;
  color: #96c0c5;
  background: whitesmoke;
  padding: 4px;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.news-feed {
  margin-bottom: 30px;
}

.news-feed-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  background: #589ba3a1;
  text-align: center;
}

.news-item {
  margin-bottom: 15px;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.job-listings {
  margin-bottom: 30px;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background: #589ba3a1;
  text-align: center;
}

.job-item {
  margin-bottom: 15px;
}

.job-position {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: auto;
  max-height: 50vh;
  object-fit: cover;
  border-radius: 5px;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background: #589ba3a1;
  text-align: center;
}

.event-update {
  margin-bottom: 1rem;
}

.img1 {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  object-fit: contain;
}

@media only screen and (max-width: 900px) {

  ul {
    margin: 8px 0 0px 0px;
  }

  ul li {
    padding-left: 5rem;
  }

  .navbar {
    padding: 0rem 0rem 0rem 0.5rem;
    flex-wrap: unset;
  }

  .logo {
    left: 0;
  }

  ul {
    margin: 8px 0 0px 0px;
  }

  ul li {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  ul li {
    padding: 0px;
    margin: 0px;
  }

  .menuitems {
    margin: 0;
    padding: 0;
  }
}