* {
  box-sizing: border-box;
}

body {
  /* padding: 20px; */
  background: linear-gradient(326deg, #5c4545, #537a6d, #5c4545);
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
  font-family: fantasy;
  font-size: 45px;
  left: 2.5rem;
  top: 8px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 8px 2.5rem 0px 0px;
}

ul li {
  padding-left: 10rem;
  color: white !important;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.footer {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.segment {
  margin-bottom: 30px;
}

.segment-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-segment {
  margin-bottom: 15px;
}

.sub-segment-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.news-feed {
  margin-bottom: 30px;
}

.news-feed-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  background: #589ba3a1;
  text-align: center;
}

.news-item {
  margin-bottom: 15px;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.job-listings {
  margin-bottom: 30px;
}

.job-titl {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background: #589ba3a1;
  text-align: center;
}

.job-item {
  margin-bottom: 15px;
}

.job-position {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  background: #589ba3a1;
  text-align: center;
}

.event-update {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 700px){

  ul{
    margin: 8px 0 0px 0px;
  }
  ul li{
    padding-left: 5rem;
  }
}